{{ partial "header.html" . }}

<div class="container" role="main">
  <div class="row">
    <div class="col-lg-12 col-lg-offset-1 col-md-10 col-md-offset-1">
      {{ .Content }}
      {{ if .Site.DisqusShortname }}
        <div class="disqus-comments">
        {{ template "_internal/disqus.html" . }}
        </div>
      {{ end }}
    </div>
  </div>
</div>
